* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    background: rgb(159, 175, 171);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    flex: 0.94;
    height: 94%;
    border-radius: 10px;
    padding: 1rem;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .4rem;

    background: whitesmoke;
}

.gallery-item-selected {
    height: 100%;
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height .25s, width .5s .25s;
}

.gallery-item-selected img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: transform .5s, border-radius .5s .5s, width .5s .5s, height .5s 1s;
}

.gallery-item {
    height: 100%;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width .5s, height 0.25s .5s;
}

.gallery-item img {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
    object-fit: center;
    border-radius: 50%;
    transform: rotate(360deg);
    transition: height .5s, width .5s .5s, border-radius .5s .5s, transform .5s 1s;
}


img:hover {
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transform: rotate(0deg);
    transition: transform .5s, border-radius .5s .5s, width .5s .5s, height .5s 1s;

}